---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>

  <script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('a.photoswipe-wrapper').forEach((anchor) => {
        const img = anchor.querySelector('img');
        if (!img) return; // 沒有圖片就跳過
        const url = new URL(img.src, location.href);
        const params = new URLSearchParams(url.search);

        const width = params.get('origWidth') || img.naturalWidth || Number(img.getAttribute('width')) || img.width;
        const height =
          params.get('origHeight') || img.naturalHeight || Number(img.getAttribute('height')) || img.height;

        anchor.href = img.src;
        anchor.dataset.pswpWidth = width;
        anchor.dataset.pswpHeight = height;
      });
    });
  </script>
</Layout>
