<div class="container">
  <div class="row">
    <div class="col s12 m9">
      <header class="article-header">
      <h1 class="article-title" itemprop="name">
        <%= page.title %>
      </h1>
      </header>

      <% if (site.categories.length){ %>
      <div class="category-all-page article-type-post show">
        <%- list_categories(site.categories, {
          show_count: true,
          class: 'category-list-item',
          style: 'list',
          depth: 2,
          separator: ''
        }) %>
      </div>
      <% } %>
      <% if ( is_tag() ) { %>
        <h2 class="header color-featured">Tag: <%- page.tag %></h2>
      <% } %>
    </div>
    <div class="col s12 m3">
      <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
    </div>
  </div>
</div>
