---
import Layout from '~/layouts/PageLayout.astro';

import Image from '~/components/common/Image.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import heroImg from '~/assets/images/hero-image.png'

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
  <Fragment slot="bg">
  <Image
    class="w-full h-[576px]"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    src='~/assets/images/hero-image.png'
    alt="hero-image"
    />
  </Fragment>
  <Fragment slot="title">
      Free template for <span class="hidden xl:inline">creating websites with</span>
      <span class="text-accent dark:text-white highlight"> Astro 4.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="skills"
    tagline=""
    title="Skills"
    subtitle=""
    items={[
      {
        title: 'Front-end',
        subItems: [{
          title: 'React',
          subItems: [{
            title: 'Course Platforms',
            subItems: [{
              title: 'NextJS - server side rendering'
            },{
              title: 'MaterialUI'
            },{
              title: 'GA4 / GTM'
            },{
              title: 'Heroku (staging)'
            },{
              title: 'Video / Audio player'
            },{
              title: 'Online Payment'
            },{
              title: 'User Rating and Comments'
            }]
          }, {
            title: "Cancer Patients' Sharing Blog",
            subItems: [{
              title: 'TypeScript'
            }, {
              title: 'NextJS'
            }, {
              title: 'Eslint'
            }, {
              title: 'Facebook/Google Login'
            }, {
              title: 'Social sharing'
            }]
          }, {
            title: 'Badminton Web App',
            subItems: [
              {title: 'Redux'}, 
              {title: 'SocketIO'}, 
              {title: 'GoogleMap'}, 
              {title: 'Facebook/Google Login'}, 
              {title: 'Location-based service'},
              {title: 'Social sharing'}
            ]
          },{
            title: 'Rehabilitation management platfor',
            subItems: [
              {title: 'Patient Health dashboard'}, 
              {title: 'Reservation system'}, 
              {title: 'D3.js'}, 
              {title: 'Mobile backend as a service (Kii-Cloud)'}
            ]
          }]
        }],
      },
      {
        title: 'Back-end',
        subItems: [{
          title: 'Python',
          subItems: [{
            title: 'AI tool platforms',
            subItems: [{
              title: 'fastapi'
            },{
              title: 'socket io'
            },{
              title: 'PostgreSQL'
            },{
              title: 'user management'
            }]
          }]
        },{
          title: 'Ruby on rails',
          subItems: [{
            title: 'Serverless side project',
            subItems: [{
              title: 'Ruby on Jets'
            },{
              title: 'AWS serverless'
            },{
              title: 'Emailing'
            },{
              title: 'Dynamodb'
            }]
          }, {
            title: 'Online course Platform',
            subItems: [{
              title: 'Bootstrap'
            },{
              title: 'Pundit authorization'
            },{
              title: 'Rspec testing'
            },{
              title: 'Sidekiq'
            },{
              title: 'Mailgun'
            },{
              title: 'User mention system'
            },{
              title: 'Notification system'
            },{
              title: 'Course management'
            }]
          }]
        },{
          title: 'NodeJS',
          subItems: [{
            title: 'All-in-one Blog API',
            subItems: [{
              title: 'CDK'
            },{
              title: 'AWS Serverless'
            },{
              title: 'ElaticSearch'
            },{
              title: 'Dynamodb'
            },{
              title: 'Stripe - Online payment processing'
            }, {
              title: 'LINE Chatbot API',
              subItems: [{
                title: 'LINE@ RichMenu management'
              },{
                title: 'LINE Message API'
              }]
            }, {
              title: 'API-based Gambling system',
              subItems: [{
                title: 'ExpressJS'
              },{
                title: 'User registration'
              },{
                title: 'Cryptocurrency sending / receiving'
              },{
                title: 'Refactor Controller / ORM'
              }]
            }, {
              title: 'Events registration system',
              subItems: [{
                title: 'SailsJS'
              },{
                title: 'Mandrill mail sender'
              },{
                title: 'Third-Party Payment'
              },{
                title: 'Third-Party Payment'
              }]
            }]
          }]
        }]
      }, {
        title: 'AI / Automation',
        subItems: [ 
          { title: 'n8n' },
          { title: 'chatgpt' },
          { title: 'groq' },
          { title: 'open web ui' },
        ],
      }, {
        title: 'Marketing',
        subItems: [
          { title: 'SEO / SEM' },
          { title: 'Google Analytics / Google Adwords' },
          { title: 'Facebook Pixel / Facebook Ads / Facebook Pages' },
          { title: 'LINE Sticker' },
          { title: 'Social marketing' }
        ]
      }
    ]}
  />

  <!-- Features Widget *************** -->
  <Features2
    id="publications"
    tagline=""
    title="Recently shares"
    subtitle=""
    items={[
      {
        callToAction: {
          variant: 'link',
          type: 'button',
          text: 'Learning Notes: Overview of Machine Learning Products',
          href: 'https://ithelp.ithome.com.tw/users/20103835/ironman/2652',
          class: 'text-blue-400'
        }
      }, {
        callToAction: {
          variant: 'link',
          type: 'button',
          text: 'Learning Notes: 跟著Google學ML',
          href: 'https://ithelp.ithome.com.tw/users/20103835/ironman/1806',
          class: 'text-blue-400'
        }
      }, {
        callToAction: {
          variant: 'link',
          type: 'button',
          text: 'Learning Notes: RRRR的世界 (Ruby on Rails + React + Redux)',
          href: 'https://ithelp.ithome.com.tw/users/20103835/ironman/1206',
          class: 'text-blue-400'
        }
      }, {
        callToAction: {
          variant: 'link',
          type: 'button',
          text: 'LINE Sticker: Speechless Couple',
          href: 'https://store.line.me/stickershop/product/1395142/en',
          class: 'text-blue-400'
        }
      },
    ]}
  />

  <!-- Features Widget *************** -->
  <BlogLatestPosts
    title="Find out more content in our Blog"
    classes={{
      container: 'intersect-once opacity-0 intersect:opacity-100 motion-safe:md:intersect:animate-fade'
    }}
  />
</Layout>
