<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <h5 class="widget-title">Authors</h5>
    <div class="widget">
      <%- list_categories({show_count: theme.show_count, depth: 1}) %>
    </div>
  </div>
<% } %>
