@import "nib"
@import "_variables"
@import "_util/mixin"

//global-reset()

html {
  font-size: font-size
  font-family: font-sans;
}

body
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: color-default;

sub {
  bottom: 0;
}

strong {
  font-weight: 600;
}

footer i.fa {
  margin-left: 5px;
}

#main-container {
  flex: 1 0 auto;
}
if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    #main
      float: right

@import "_partial/article";
@import "_partial/header";
@import "_partial/highlight";
@import "_partial/categories";
@import "_partial/index";

if sidebar
  @import "_partial/sidebar"
