---
import { SITE } from 'astrowind:config';
import { blogTagRobots, findTags } from '~/utils/blog';

import Layout from '~/layouts/PageLayout.astro';
import PostTags from '~/components/blog/Tags.astro';

export const prerender = true;
const allTags = await findTags();

const metadata = {
  title: `Posts by tag | '${SITE?.name}'`,
  robots: {
    index: blogTagRobots?.index,
    follow: blogTagRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <PostTags tags={allTags} title="Search by Tags:" type="tag" />
  </section>
</Layout>
