---
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { blogListRobots, blogPostsPerPage, fetchPosts } from '~/utils/blog';
import { getCanonical } from '~/utils/permalinks';

export const prerender = true;

const allPosts = await fetchPosts();
const posts = allPosts.slice(0, blogPostsPerPage);
const hasNext = allPosts.length > blogPostsPerPage;

const metadata = {
  title: 'Blog',
  description:
    "Joseph's blog. Sharing insights, guides, and learning notes on Fullstack development, DevOps, AI, and digital marketing.",
  canonical: String(getCanonical('/blog')),
  robots: {
    index: blogListRobots?.index,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle="Fullstack / DevOps / AI / Marketing / Side projects"> The Blog </Headline>
    <BlogList posts={posts} />
    <Pagination nextUrl={hasNext ? '/blog/2' : undefined} />
  </section>
</Layout>
